RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^attractions$ controllers/attractions.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^attractions$ controllers/attractions.php?action=create

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^attractions/([0-9]+)$ controllers/attractions.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^attractions/([0-9]+)$ controllers/attractions.php?action=delete&id=$1
